body {
    margin: 0%;
    background-image: url(assets/fundo2.avif);
    background-position: center;
    background-size: cover;
}

header {
    background-color: #3669ac;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

#form {
    background-color: hwb(214 78% 0%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    justify-self: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5%;
    width: 400px;
    text-align: center;
}

#img_pets {
    width: 200px;
    height: 200px;
}

.flex {
    display: flex;
    align-items: center;
}